* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

body {
    background-image: url(./images/gradient.jpg);
    background-size: cover;
}

footer {
    padding: 60px 0;
}

main {
    padding: 60px 60px;
}

.mainTitle {
    text-align: center;
}


img {
    max-width: 200px;
    /* max-height: 200px; */
}

#pokemon_gallery {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.pokemonCard {
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}

.cardTitle {
    text-align: center;
}

#historyContainer {
    padding-left: 5%;
}

.pokemonCardButton {
    border: none !important;
    background: transparent;
}

@media screen {
    @media (min-width: 1280px) {
        img {
            max-width: 400px;
        }
    }
    @media (max-width: 780px){
        #pokemon_gallery {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 520px) {
        #pokemon_gallery {
            grid-template-columns: 1fr;
        }
    }

}