<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCIT Pokedex</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="./js/script.js"></script>

    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
        <h1 class="mainTitle">POKÉDEX</h1>
    </header>
    <nav><%- include("./navBar.ejs") %></nav>
    <main>

        <div id="historyContainer">
            <h2>History<button type="button" id="clearHistory" class="styledButton">Clear</button></h2>
            <div id="history">
            </div>
        </div>

        <section id="pokemonGallery"></section>

        <div id="currentPage"></div>

        <div id="pagination"></div>

        <div id="pokemonProfileContainer">
            <div id="pokemonProfile"></div>
        </div>
    </main>
    <footer><%- include("./footer.ejs") %></footer>

</body>

</html>