<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/profile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <header>
        <h1 class="mainTitle">Profile Page</h1>
    </header>
    <nav><%- include("./navBar.ejs") %></nav>
    <main>
        <h2>Welcome to your profile, <%= name %>!</h2>
        <div id="container">
            <div id="order"></div>
            <div id="timeline"></div>
        </div>
    </main>
    <footer><%- include("./footer.ejs") %></footer>
</body>
</html>