* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../images/gradient.jpg);
    background-repeat: no-repeat;
    background-size: stretch;
}

header {
    letter-spacing: 1rem;
    padding: 1rem;
    font-size: x-large;
}

footer {
    padding: 60px 0;
}

main {
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#userAccount {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mainTitle {
    text-align: center;
    font-weight: 400;
}

.navList {
    padding: 1rem 0;
    display: flex;
}

.navItem {
    list-style: none;
    margin-left: auto;
    margin-right: 2rem;
}

li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 8px;
    margin-left: 20px;
}

li a:hover {
    background: white;
}

.styledButton {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin: 4px 2px;
    padding: 5px;
    float: right;
}

#addUserButton:hover, #updateUserButton:hover {
    background: #d6f5d6;
}

#removeUserButton:hover {
    background: #FF6961;
}

#adminCreateUser, .userCard {
    padding: 0 15px;
    padding-top: 15px;
    width: max-content;
}

label {
    font-size: 18px;
}

input {
    font-size: 14px;
    width: 300px;
    padding: 12px 0;
    display: block;
    padding-left: 10px;
    margin: 10px 0;
}
