* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../images/gradient.jpg);
    /* background-repeat: no-repeat; */
    background-size: stretch;
}

header {
    letter-spacing: 1rem;
    padding: 1rem;
    font-size: x-large;
}

footer {
    padding: 60px 0;
}

main {
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=number] {
    font-size: 18px;
    width: 45px;
    border: 1px solid black;
}

.mainTitle {
    text-align: center;
    font-weight: 400;
}

#gameGrid {
    width: 50vw;
    height: 50vw;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    perspective: 1000px;
}

.card {
    display: flex;
    justify-content: center;
    position: relative;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.backFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.frontFace {
    position: absolute;
    /* max-width: 70%;
    max-height: 70%; */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.disableClick {
    pointer-events: none;
}

.styledButton {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin: 4px 2px;
    padding: 5px;
}

#gameOptionButton:hover {
    background: #d6f5d6;
}

#quitGame:hover {
    background: #FF6961;
}

@media screen {
    @media (max-width: 768px) {
        input[type=number] {
            display: block;
            width: 100%;
            margin-top: 20px;
        }

        main {
            align-items: flex-start;
        }
    }
}