* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../images/gradient.jpg);
    background-repeat: no-repeat;
    background-size: stretch;
}

header {
    letter-spacing: 1rem;
    padding: 1rem;
    font-size: x-large;
}

footer {
    padding: 60px 0;
}

main {
    padding: 60px 60px;
}

.mainTitle {
    text-align: center;
    font-weight: 400;
}

#container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.orderContainer {
    margin-bottom: 60px;
}

.pokemonCardCheckout {
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 20px;
    justify-content: flex-start;
    gap: 20px;
}

#timeline {
    display: flex;
    flex-direction: column;
}

.timelineButtonStyle {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin: 4px 2px;
    padding: 5px 10px;
}

.like_Button:hover {
    background: #d6f5d6;
}

.delete_Button:hover {
    background: #FF6961;
}

th, td {
    padding: 5px;
    text-align: left;
}

.timelineCard {
    background-color: #6EB5FF;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.gameCard {
    background-color: #FFF5BA;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.timelineCard span {
    float: right;
}

@media screen {
    @media (max-width: 1525px) {
        #container {
            flex-direction: column;
        }
    }
}