* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../images/gradient.jpg);
    background-repeat: no-repeat;
    background-size: stretch;
}

header {
    letter-spacing: 1rem;
    padding: 1rem;
    font-size: x-large;
}

footer {
    padding: 60px 0;
}

main {
    padding: 60px 60px;
}

.mainTitle {
    text-align: center;
    font-weight: 400;
}